/* Ladebildschirm-Stile */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Hintergrundfarbe des Ladebildschirms */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000; /* Sehr hoher Z-Index, um sicherzustellen, dass der Ladebildschirm über allem liegt */
}

/* Ladeanimation */
.loader-spinner {
    border: 8px solid #f3f3f3; /* Hellgrauer Rand */
    border-top: 8px solid #3498db; /* Blauer Rand (Ladeeffekt) */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Drehanimation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Text unter der Ladeanimation */
#loader p {
    color: white;
    margin-top: 20px;
    font-size: 18px;
}
