/* Allgemeine Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.fullscreen-container {
    display: flex;
    flex-direction: column;
    height: 500vh; /* 5x die Bildschirmhöhe */
    scroll-snap-type: y mandatory; /* Snap beim Scrollen */
    overflow-y: scroll;
}

.bg-image {
    height: 100vh; /* Fullscreen-Höhe */
    width: 100vw; /* Fullscreen-Breite */
    background-size: cover; /* Bild skaliert, um zu passen */
    background-position: center; /* Zentriere das Bild */
    scroll-snap-align: start; /* Snap-Position */
}
