/* Allgemeine Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Verhindert Scrollbars */
}

.fullscreen-container {
    height: 100vh; /* Immer 100% des sichtbaren Bereichs */
    scroll-snap-type: y mandatory; /* Vertikales Einrasten beim Scrollen */
    overflow-y: scroll; /* Aktiviert vertikales Scrollen */
    scrollbar-width: none; /* Versteckt Scrollbars in Firefox */
}

.fullscreen-container::-webkit-scrollbar {
    display: none; /* Versteckt Scrollbars in WebKit-Browsern */
}

.bg-image {
    height: 100vh; /* Füllt die gesamte Höhe des sichtbaren Bereichs */
    width: 100vw; /* Füllt die gesamte Breite */
    background-size: cover; /* Skaliert das Bild, um es anzupassen */
    background-position: center; /* Zentriert das Bild */
    scroll-snap-align: start; /* Positioniert jedes Bild beim Einrasten */
}
