/* Allgemeine Reset-Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #000; /* Startet dunkel */
    color: #000; /* Startet dunkel */
    transition: background-color 1.4s ease, color 1.4s ease; /* Transition zu Originalfarben */
}

/* Wenn die Seite geladen ist */
body.loaded {
    background-color: transparent; /* Originalfarben sichtbar */
    color: #fff; /* Textfarbe sichtbar */
}

/* Video-Hintergrund */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Video deckt den gesamten Bereich ab */
    z-index: -1; /* Video bleibt im Hintergrund */
    opacity: 0; /* Startet unsichtbar */
    transition: opacity 1.4s ease; /* Transition zur Sichtbarkeit */
}

/* Video sichtbar nach Übergang */
body.loaded #background-video {
    opacity: 1;
}

/* Overlay für die Sidebar */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dunkleres Overlay für bessere Lesbarkeit */
    z-index: 2; /* Overlay über dem Video */
}

.overlay.active {
    display: block;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    overflow-x: hidden;
    transition: left 0.5s ease;
    z-index: 3; /* Sidebar über dem Video */
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.sidebar.open {
    left: 0;
}

/* Signatur der Künstlerin */
.artist-signature {
    text-align: center;
    padding: 20px;
    animation: float 3s ease-in-out infinite;
    position: relative;
}

.artist-signature img {
    width: auto;
    height: 140px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* Links in der Sidebar */
.sidebar-links {
    padding-bottom: 20px;
}

.sidebar a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
    font-family: 'Pacifico', cursive;
   
