body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.image-section {
    flex: 1;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-section img:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Boxen näher beieinander */
}

.box {
    margin-bottom: 5px; /* Kleinerer Abstand zwischen den Boxen */
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.5s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Überschrift wird sowohl vertikal als auch horizontal zentriert */
    height: 150px; /* Feste Höhe für die Boxen */
    overflow: hidden;
}

.box h2 {
    margin: 0;
}

.box:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Abgedunkelte, natürliche Farben für die Boxen (Blau, Grün, Rot) */
.box1 {
    background-color: #1d3c3c; /* Abgedunkeltes Blau-Grün */
}

.box2 {
    background-color: #3b2a2a; /* Sehr dunkles Rotbraun */
}

.box3 {
    background-color: #2f1a1a; /* Dunkles Rot */
}

.box4 {
    background-color: #2f4a2f; /* Abgedunkeltes Waldgrün */
}

.hidden-text {
    margin-top: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

/* Beim Öffnen wird die Box vergrößert, und der Text wird sichtbar */
.box.open {
    height: auto; /* Box wächst, um den Text zu zeigen */
}

.box.open .hidden-text {
    opacity: 1;
    max-height: 200px; /* Maximale Höhe für den Text */
}

.video-section {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.video-section iframe {
    width: 100%;
    height: 400px; /* Feste Höhe für Desktop */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-section iframe:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-section {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .video-section iframe {
        height: 300px; /* Höhe für Tablets */
    }
}

@media (max-width: 480px) {
    .video-section iframe {
        height: 200px; /* Höhe für Mobilgeräte */
    }
}
