/* Video-Hintergrund (obere Schicht) */
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; /* Sicherstellen, dass das Video unter der Sidebar liegt */
}

/* Overlay für die Sidebar */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Overlay über dem Video */
}

.overlay.active {
    display: block;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    overflow-x: hidden;
    transition: left 0.5s ease;
    z-index: 2; /* Sidebar über dem Video und Overlay */
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar.open {
    left: 0;
}

/* Signatur der Künstlerin */
.artist-signature {
    text-align: center;
    margin-bottom: 30px; /* Abstand nach unten */
}

.artist-signature img {
    max-width: 200px; /* Maximale Breite der Signatur */
    width: 100%;
    height: auto;
}

/* Links mit Icons */
.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar-links a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-links a i {
    margin-right: 10px;
}

/* Button zum Öffnen und Schließen der Sidebar */
.toggle-button {
    font-size: 60px;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 3; /* Button über der Sidebar */
    transition: left 0.5s ease, transform 0.5s ease;
}

.toggle-button.open {
    left: 265px;
    transform: translateY(-50%) rotate(90deg);
}
