/* Allgemeine Einstellungen */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Bild- und Video-Hintergründe */
#image-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Button zum Öffnen und Schließen der Sidebar */
.toggle-button {
    font-size: 60px;
    color: #fff;
    background-color: #ff6f00;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 3;
    transition: all 0.3s ease;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.toggle-button.open {
    left: 265px;
    transform: translateY(-50%) rotate(90deg);
}

/* Hover-Effekt */
.toggle-button:hover {
    background-color: #ff8c00;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%) scale(1.1);
}

/* Styling für die Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 2;
    padding-top: 50px;
}

.sidebar.open {
    left: 0;
}

/* Links innerhalb der Sidebar */
.sidebar-links {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar.open .sidebar-links {
    opacity: 1;
    transition: opacity 0.3s ease 0.3s; /* Synchronisiert mit dem Öffnen der Sidebar */
}

.sidebar-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #575757;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.sidebar.open + .overlay {
    display: block;
}
